<a href="https://colab.research.google.com/github/st064560/my_python/blob/master/bank.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a href="https://colab.research.google.com/github/dm-fedorov/pandas_basic/blob/master/%D0%BA%D0%B5%D0%B9%D1%81%D1%8B%20%D0%BF%D0%BE%20%D0%B0%D0%BD%D0%B0%D0%BB%D0%B8%D0%B7%D1%83%20%D0%B4%D0%B0%D0%BD%D0%BD%D1%8B%D1%85/bank.ipynb" target="_blank"><img align="left" src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open in Colab" title="Open and Execute in Google Colaboratory"></a>

In [0]:
import pandas as pd

Рассмотрим пример данных [Bank Marketing Data Set](https://archive.ics.uci.edu/ml/datasets/Bank+Marketing). Данные связаны с кампаниями прямого маркетинга (телефонными звонками) португальского банковского учреждения.

In [0]:
url = "https://raw.githubusercontent.com/dm-fedorov/pandas_basic/master/data/bank-full.csv"

In [0]:
temp = pd.read_csv(url, delimiter=';')
temp.head()

   age           job  marital  education  ... pdays  previous poutcome   y
0   58    management  married   tertiary  ...    -1         0  unknown  no
1   44    technician   single  secondary  ...    -1         0  unknown  no
2   33  entrepreneur  married  secondary  ...    -1         0  unknown  no
3   47   blue-collar  married    unknown  ...    -1         0  unknown  no
4   33       unknown   single    unknown  ...    -1         0  unknown  no

[5 rows x 17 columns]

### Задания

Определите средний возраст клиентов банка

In [0]:
temp.age.mean()

40.93621021432837

Определите профессии клиентов банка, которые имеют семейный статус 'single'

In [0]:
temp[(temp.marital == "single")].job.unique()

array(['technician', 'unknown', 'management', 'admin.', 'blue-collar',
       'entrepreneur', 'retired', 'unemployed', 'services',
       'self-employed', 'student', 'housemaid'], dtype=object)