<a href="https://colab.research.google.com/github/st064560/my_python/blob/master/Films.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a href="https://colab.research.google.com/github/dm-fedorov/pandas_basic/blob/master/%D0%A2%D0%B5%D0%BF%D0%BB%D0%B8%D1%86%D0%B0/3.%20%D0%9A%D0%B8%D0%BD%D0%BE%D0%BF%D0%BE%D0%B8%D1%81%D0%BA.ipynb"><img align="left" src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open in Colab" title="Open and Execute in Google Colaboratory" target="_blank"></a>

Источник: Кинопоиск 23.12.2018

Данные собрал: [Андрей Дорожный](http://dorozhnij.com/)

- **name** Название фильма
- **country** Страна производства
- **time** Продолжительность фильма, мин
- **ranking** Балл на Кинопоиске
- **type** Жанр
- **year** Год выпуска
- **director** Режиссер

In [0]:
import pandas as pd

url = "https://raw.githubusercontent.com/dm-fedorov/pandas_basic/master/data/new_year_film.csv"
kino = pd.read_csv(url)
kino.head()

                          name  country  time  ...   type  year       director
0                      Невеста   Россия    74  ...  фильм  2006  Билли Уайлдер
1  Кто приходит в зимний вечер   Россия    90  ...  фильм  2006  Билли Уайлдер
2          Моя мама Снегурочка   Россия    90  ...  фильм  2007  Билли Уайлдер
3            Набережная Орфевр  Франция   106  ...  фильм  1947  Билли Уайлдер
4                       Лузер    Россия   104  ...  фильм  2007  Билли Уайлдер

[5 rows x 7 columns]

### Задания

Определите советского режиссера с минимальным рейтингом.

In [0]:
kino = pd.read_csv(url)
#kino.head()
kino[(kino.country == "Россия") & (kino.ranking == kino.ranking.min())].director

Series([], Name: director, dtype: object)

Заменим запятую точкой и изменим на инт.

In [0]:
kino['ranking'] = kino['ranking'].str.replace(',','.')
kino.ranking

0       7.66
1      6.038
2      6.828
3      7.597
4      6.065
       ...
145    7.929
146    8.021
147     7.94
148    8.049
149    6.814
Name: ranking, Length: 150, dtype: object

In [0]:
kino['ranking'] = pd.to_numeric(kino['ranking'])