<a href="https://colab.research.google.com/github/st064560/my_python/blob/master/Football_groups.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a href="https://colab.research.google.com/github/dm-fedorov/pandas_basic/blob/master/%D1%83%D0%BF%D1%80%D0%B0%D0%B6%D0%BD%D0%B5%D0%BD%D0%B8%D1%8F/2.%20%D0%93%D1%80%D1%83%D0%BF%D0%BF%D0%B8%D1%80%D0%BE%D0%B2%D0%BA%D0%B0.ipynb"><img align="left" src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open in Colab" title="Open and Execute in Google Colaboratory" target="_blank"></a>

Возьмем по `5 футболистов` трех различных национальностей, а затем посчитаем средний возраст внутри каждой из национальностей.

<img src="https://raw.githubusercontent.com/dm-fedorov/pandas_basic/master/pic/split_apply_combine.png">

Мы видим, что средний возраст приблизительно одинаков между всеми тремя группами.

In [0]:
import pandas as pd

url = "https://raw.githubusercontent.com/dm-fedorov/pandas_basic/master/data/football.csv"

football = pd.read_csv(url)
football.head()

   Unnamed: 0               Name  Age  ... GKKicking GKPositioning  GKReflexes
0           0           L. Messi   31  ...        15            14           8
1           1  Cristiano Ronaldo   33  ...        15            14          11
2           2          Neymar Jr   26  ...        15            15          11
3           3             De Gea   27  ...        87            88          94
4           4       K. De Bruyne   27  ...         5            10          13

[5 rows x 42 columns]

In [0]:
small_football = football[football.columns[1:8]].head(25)
small_football

                 Name  Age Nationality  ...      Value    Wage  Position
0            L. Messi   31   Argentina  ...  110500000  565000        RF
1   Cristiano Ronaldo   33    Portugal  ...   77000000  405000        ST
2           Neymar Jr   26      Brazil  ...  118500000  290000        LW
3              De Gea   27       Spain  ...   72000000  260000        GK
4        K. De Bruyne   27     Belgium  ...  102000000  355000       RCM
5           E. Hazard   27     Belgium  ...   93000000  340000        LF
6           L. Modrić   32     Croatia  ...   67000000  420000       RCM
7           L. Suárez   31     Uruguay  ...   80000000  455000        RS
8        Sergio Ramos   32       Spain  ...   51000000  380000       RCB
9            J. Oblak   25    Slovenia  ...   68000000   94000        GK
10     R. Lewandowski   29      Poland  ...   77000000  205000        ST
11           T. Kroos   28     Germany  ...   76500000  355000       LCM
12           D. Godín   32     Uruguay  ...   44000000  125000        CB
13        David Silva   32       Spain  ...   60000000  285000       LCM
14           N. Kanté   27      France  ...   63000000  225000       LDM
15          P. Dybala   24   Argentina  ...   89000000  205000        LF
16            H. Kane   24     England  ...   83500000  205000        ST
17       A. Griezmann   27      France  ...   78000000  145000       CAM
18      M. ter Stegen   26     Germany  ...   58000000  240000        GK
19        T. Courtois   26     Belgium  ...   53500000  240000        GK
20    Sergio Busquets   29       Spain  ...   51500000  315000       CDM
21          E. Cavani   31     Uruguay  ...   60000000  200000        LS
22           M. Neuer   32     Germany  ...   38000000  130000        GK
23          S. Agüero   30   Argentina  ...   64500000  300000        ST
24       G. Chiellini   33       Italy  ...   27000000  215000       LCB

[25 rows x 7 columns]

Предположим, что перед нами стоит задача быстро оценить, сколько футболистов относится к каждой из представленных национальностей.

Так как каждая строка датафрейма содержит информацию об отдельно взятом футболисте, то достаточно посчитать, сколько раз каждая из национальностей встречается в столбце (в серии) `Nationality`:

In [0]:
s = small_football['Nationality'].value_counts()
s

Spain        4
Belgium      3
Uruguay      3
Argentina    3
Germany      3
France       2
Italy        1
Slovenia     1
England      1
Brazil       1
Croatia      1
Poland       1
Portugal     1
Name: Nationality, dtype: int64

Таким образом, функция `value_counts` подсчитывает для каждого значения в серии количество раз, которое это значение встречается.

Индекс серии `s` — это уникальные значения, встречающиеся в исходной серии `small_df['Nationality']`:

In [0]:
s.index

Index(['Spain', 'Belgium', 'Uruguay', 'Argentina', 'Germany', 'France',
       'Italy', 'Slovenia', 'England', 'Brazil', 'Croatia', 'Poland',
       'Portugal'],
      dtype='object')

Обратите внимание, что в индексе названия сборных идут так же, как в серии, то есть по убыванию числа футболистов. Значит, вызвав первый элемент индекса, мы получим название сборной, у которой больше всего футболистов в рамках датафрейма:

In [0]:
s.index[0]

'Spain'

Если вызовем функцию `len` для серии `s`, то получим количество уникальных значений исходной серии, то есть количество национальностей, которые встречаются в датафрейме `small_football`:

In [0]:
len(s.index)

13

Если хотим определить количество футболистов в `small_football`, которые относятся к определенной национальности, то достаточно обратиться по нужному индексу к элементу серии:

In [0]:
s['Germany']

3

Получившуюся серию s можно отфильтровать по определенному значению. Например, оставить только такие сборные, в которых больше 1 футболиста:

In [0]:
s.loc[s > 1]

Spain        4
Belgium      3
Uruguay      3
Argentina    3
Germany      3
France       2
Name: Nationality, dtype: int64

### Сколько футбольных клубов представлено в датасете?

In [0]:
len(football['Club'].value_counts())

650

In [0]:
len(football.Club.unique())

650

### Как называется футбольный клуб, представленный наименьшим количеством игроков в датасете?

In [0]:
football.Club.value_counts()

V-Varen Nagasaki     30
Shonan Bellmare      30
De Graafschap        29
Vissel Kobe          29
Padova               29
                     ..
Cruzeiro              8
Dinamo Zagreb         7
Vitória Guimarães     7
GD Chaves             7
Atlético Mineiro      6
Name: Club, Length: 650, dtype: int64

In [0]:
football.Club.value_counts().index[-1]

'Atlético Mineiro'

In [0]:
football.Club.value_counts().index[0]

'V-Varen Nagasaki'

Можно посчитать количество футболистов не в абсолютных числах, а в процентах от общего числа в датасете. Для этого надо вызвать функцию `value_counts()` с параметром `normalize=True`:

In [0]:
s = small_football['Nationality'].value_counts(normalize=True)
s

Таким образом, мы можем быстро определить характеристики распределения футболистов между национальностями в нашем наборе данных. Например, мы узнали, что испанцы составляют 16% от общего числа футболистов, которые были взяты нами для выборки `small_football`.

### Данные об игроках каких позиций (Position) занимают более 10% датасета?

### Данные об игроках каких позиций (Position) занимают менее 1% датасета?

Ещё один параметр, который можно передать в функцию `value_counts`, — это параметр `bins`. Этот параметр удобно передавать, когда мы хотим сгруппировать данные не по категориальному признаку (каким, например, является национальность), а по численному признаку (например, по возрасту).

Сначала сгруппируем данные по численному признаку без параметра `bins`:

In [0]:
s = small_football['Age'].value_counts()
s

Как видно, мы просто сгруппировали футболистов по возрасту и посчитали количество футболистов внутри каждой возрастной группы. Разброс возрастов не слишком большой, поэтому воспринимается эта информация достаточно легко. Например, мы узнали, что больше всего футболистов в двух группах: `27 лет` и `32 года`.

Другая ситуация складывается, когда мы попытаемся сгруппировать футболистов по их заработной плате:

In [0]:
s = small_football['Wage'].value_counts()
s

Из-за того, что цифры зарплат повторяются не часто , трудно сделать какие-то выводы. Но всё будет более наглядно, если мы разобьем весь возможный диапазон зарплат на 4 равных промежутка и подсчитаем количество футболистов, попадающих в каждый из промежутков. Именно для этого нужен параметр `bins`:

In [0]:
s = small_football['Wage'].value_counts(bins=4)
s

Теперь видно, что распределение неравномерное и только 2 футболиста из 25 получают сверхвысокую зарплату.

Давайте посмотрим, что это за футболисты:

In [0]:
small_football.loc[(small_football['Wage'] > s.index[3].left) & 
                   (small_football['Wage'] <= s.index[3].right)]

Попробуйте самостоятельно разобраться в том, как работает приведенный выше код, поэтапно вызвав несколько команд и наблюдая за результатом вывода:

In [0]:
small_football = football[football.columns[0:7]].head(25)

In [0]:
s = small_football['Wage'].value_counts(bins=4)

In [0]:
s

In [0]:
s.index

In [0]:
s.index[3]

In [0]:
s.index[3].left

In [0]:
s.index[3].right

In [0]:
small_football['Wage'] > s.index[3].left

### В каких пределах находятся худшие 20% показателей точности ударов ногой (FKAccuracy)?

### Какие показатели точности ударов ногой демонстрирует большинство футболистов?

В одном из предыдущих примеров мы подсчитывали количество уникальных национальностей с помощью следующего кода:

In [0]:
s = small_football['Nationality'].value_counts()
s.index

In [0]:
len(s.index)

s.index в данном случае выводит количество уникальных значений, а `len(s.index)` подсчитывает количество этих значений. На самом деле, сделать это можно было проще, при помощи функции `unique`:

In [0]:
small_football['Nationality'].unique()

Функция unique возвращает список уникальных элементов из серии.

Передав получившийся список в функцию `len`, мы можем подсчитать количество уникальных значений в серии:

In [0]:
len(small_football['Nationality'].unique())

Но если наша конечная цель - получить количество уникальных значений в серии, то мы можем поступить ещё проще, вызвав функцию nunique:

In [0]:
small_football['Nationality'].nunique()

Иногда бывает полезно преобразовать серию, получившуюся в результате работы функции `value_counts`, в датафрейм. Для этого нужно к получившейся серии применить функцию `reset_index`. Эта операция может пригодиться вам в ходе дальнейшего решения задач.

In [0]:
s = small_football['Nationality'].value_counts()
s_df = s.reset_index()
s_df

Ну и чтобы всё выглядело красиво и правильно, переименуем столбцы получившегося датафрейма в соответствии с тем, что в них хранится:

In [0]:
s_df.columns = ['Nationality','Players Count']
s_df

### Задача 1

У какого процента испанских специалистов (`Nationality = 'Spain'`) зарплата (`Wage`) находится в пределах 25% минимума от наблюдаемого уровня зарплат? Ответ в виде целого числа (округлите полученный результат) без знака %.

Подсказка: Для решения задачи используйте `value_counts()` с параметром `bins = 4`.

### Задача 2

Укажите количество уникальных сборных (`Nationality`), к которым относятся футболисты, выступающие за клуб (`Club`) `"Manchester United"`.

### Задача 3

С помощью функции unique определите двух футболистов из Бразилии (`Nationality = 'Brazil'`), выступающих за клуб (`Club`) `'Juventus'`. Перечислите их имена (`Name`, как в датафрейме) через запятую в алфавитном порядке.

### Задача 4

Укажите, какой из клубов (`Club`) насчитывает большее количество футболистов возрастом (`Age`) `старше 35 лет`.

### Задача 5

С помощью функции `value_counts` с параметром `bins` разбейте всех футболистов сборной (`Nationality`) Аргентины (`'Argentina'`) на 4 равные группы. Укажите, сколько футболистов в возрасте от `34.75 до 41 года` в сборной `Аргентины`.

### Задача 6

Сколько процентов футболистов из Испании (`Nationality = 'Spain'`) имеют возраст (`Age`) `21 год`? Введите с точностью до 2 знаков после запятой без указания знака % (например, 12.35).