<a href="https://colab.research.google.com/github/st064560/my_python/blob/master/Loreal_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [41]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_excel('loreal bestsellers.xlsx', index_col='EAN') 
df.head()

                    SKU  ... Продажи, шт..1
EAN                      ...
3337875607254  MB119200  ...         4347.0
3337875522786  M9120501  ...         3202.0
3337875586283  MB058200  ...         3574.0
3337875543248  M9154821  ...         6699.0
4690214632287  VRU10044  ...         4409.0

[5 rows x 6 columns]

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 271 entries, 3337875607254 to 4690214586719
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   SKU              271 non-null    object
 1   Наименование     271 non-null    object
 2   Продажи, руб.    225 non-null    float64
 3   Продажи, шт.     225 non-null    float64
 4   Продажи, руб..1  270 non-null    float64
 5   Продажи, шт..1   270 non-null    float64
dtypes: float64(4), object(2)
memory usage: 14.8+ KB

In [43]:
df = df.rename(columns={'Наименование': 'name','Продажи, руб.':'sales_rub', 'Продажи, шт.':'sales_am'})

del df['Продажи, руб..1']
del df['Продажи, шт..1']
df = df.dropna()

df

                    SKU  ... sales_am
EAN                      ...
3337875607254  MB119200  ...   2556.0
3337875522786  M9120501  ...   1353.0
3337875586283  MB058200  ...   2104.0
3337875543248  M9154821  ...   2766.0
4690214632287  VRU10044  ...   4409.0
...                 ...  ...      ...
4690214737203  VRU10602  ...     29.0
3337875585200  MB054200  ...     15.0
4690214585514  VRU09620  ...     14.0
4690214480215  VRU09006  ...      5.0
4690214472517  VRU08826  ...      2.0

[225 rows x 4 columns]

In [44]:
df.sales_rub = df.sales_rub.astype(int)
df.sales_am = df.sales_am.astype(int)
df

                    SKU  ... sales_am
EAN                      ...
3337875607254  MB119200  ...     2556
3337875522786  M9120501  ...     1353
3337875586283  MB058200  ...     2104
3337875543248  M9154821  ...     2766
4690214632287  VRU10044  ...     4409
...                 ...  ...      ...
4690214737203  VRU10602  ...       29
3337875585200  MB054200  ...       15
4690214585514  VRU09620  ...       14
4690214480215  VRU09006  ...        5
4690214472517  VRU08826  ...        2

[225 rows x 4 columns]

In [45]:
pd.options.display.float_format = '{:,.1f}'.format
df.describe()

        sales_rub  sales_am
count       225.0     225.0
mean    597,432.3     471.0
std     786,419.6     558.6
min       3,447.0       2.0
25%     136,684.0     134.0
50%     284,027.0     293.0
75%     794,082.0     588.0
max   5,825,899.0   4,409.0

In [49]:
df.sales_rub.max()

5825899

In [63]:
m = df.sort_values('sales_rub', ascending=False)
m.head(10)

                    SKU  ... sales_am
EAN                      ...
3337875607254  MB119200  ...     2556
3337875522786  M9120501  ...     1353
3337875586283  MB058200  ...     2104
3337875543248  M9154821  ...     2766
4690214632287  VRU10044  ...     4409
3337875670630  MB167100  ...     1014
3337871322502  M2913005  ...     1277
3337875483940  M9067101  ...     1065
3337875498234  M9101520  ...     1368
3337875663076  MB158501  ...     2493

[10 rows x 4 columns]

In [64]:
am = df.sort_values('sales_am', ascending=False)
am.head(10)

                    SKU  ... sales_am
EAN                      ...
4690214632287  VRU10044  ...     4409
3337875543248  M9154821  ...     2766
3337875607254  MB119200  ...     2556
3337875663076  MB158501  ...     2493
3337871320980  M5038720  ...     2335
3337871320751  M5063821  ...     2320
3337875586283  MB058200  ...     2104
3337875660617  MB156801  ...     1689
3337875533768  M9116220  ...     1558
3337875596763  MB091901  ...     1538

[10 rows x 4 columns]

In [65]:
am.to_excel('Top - 10 SKU (amount).xlsx')

In [66]:
m.to_excel('Top - 10 SKU (rubles).xlsx')

In [ ]:
df.sales = df.sales.astype(int)
df.sales
df

In [ ]:
df.shape

(271, 7)

In [ ]:
df.columns

Index(['EAN', 'SKU', 'Наименование', 'Продажи, руб.', 'Продажи, шт.',
       'Продажи, руб..1', 'Продажи, шт..1'],
      dtype='object')

In [ ]:
df.dtypes

EAN                  int64
SKU                 object
Наименование        object
Продажи, руб.      float64
Продажи, шт.       float64
Продажи, руб..1    float64
Продажи, шт..1     float64
dtype: object

In [ ]:
df.index

Int64Index([3337875607254, 3337875522786, 3337875586283, 3337875543248,
            4690214632287, 3337875670630, 3337871322502, 3337875483940,
            3337875498234, 3337875663076,
            ...
            4690214480222, 4690214548489, 4690214557016, 4690214585453,
            4690214585460, 4690214585477, 4690214585491, 4690214585507,
            4690214586702, 4690214586719],
           dtype='int64', name='EAN', length=271)

In [ ]:
pd.options.display.float_format = '{:,.1f}'.format
df.describe()

       Продажи, руб.  Продажи, шт.  Продажи, руб..1  Продажи, шт..1
count          225.0         225.0            270.0           270.0
mean       597,432.3         471.0        930,747.2           738.3
std        786,419.6         558.6      1,322,712.1           885.1
min          3,447.0           2.0            801.0             2.0
25%        136,684.0         134.0        174,351.0           161.8
50%        284,027.0         293.0        475,657.5           466.5
75%        794,082.0         588.0      1,119,708.0           933.0
max      5,825,899.0       4,409.0      9,907,634.0         6,699.0

In [ ]:
df.SKU.nunique()

271

In [ ]:
df.EAN.nunique()

271

In [ ]:
df['Продажи, руб.'].max

<bound method Series.max of 0      5825899.0
1      4409936.0
2      3867992.0
3      3073718.0
4      2932880.0
         ...
266          NaN
267          NaN
268          NaN
269          NaN
270          NaN
Name: Продажи, руб., Length: 271, dtype: float64>

In [ ]:
df['Продажи, шт.'].dtype

dtype('float64')

In [ ]:
df_rename = df.rename(columns={'Наименование': 'name','Продажи, руб.':'sales_rub', 'Продажи, шт.':'sales_am','Продажи, руб..1':'sales_rub_year', 'Продажи, шт..1':'sales_am_year' })
df_rename

                    SKU  ... sales_am_year
EAN                      ...
3337875607254  MB119200  ...        4347.0
3337875522786  M9120501  ...        3202.0
3337875586283  MB058200  ...        3574.0
3337875543248  M9154821  ...        6699.0
4690214632287  VRU10044  ...        4409.0
...                 ...  ...           ...
4690214585477  VRU09615  ...         969.0
4690214585491  VRU09617  ...         761.0
4690214585507  VRU09618  ...         966.0
4690214586702  VRU09628  ...          71.0
4690214586719  VRU09629  ...         107.0

[271 rows x 6 columns]

In [ ]:
s = df_rename['sales_rub'].value_counts(bins=10)
s

(-2375.4530000000004, 585692.2]    155
(585692.2, 1167937.4]               33
(1167937.4, 1750182.6]              23
(1750182.6, 2332427.8]               5
(2914673.0, 3496918.2]               3
(2332427.8, 2914673.0]               3
(5243653.8, 5825899.0]               1
(4079163.4, 4661408.6]               1
(3496918.2, 4079163.4]               1
(4661408.6, 5243653.8]               0
Name: sales_rub, dtype: int64

In [ ]:
filter_large = df_rename['sales_rub'] > 1750182.6

In [ ]:
df_rename.loc[filter_large]

                    SKU  ... sales_am_year
EAN                      ...
3337875607254  MB119200  ...        4347.0
3337875522786  M9120501  ...        3202.0
3337875586283  MB058200  ...        3574.0
3337875543248  M9154821  ...        6699.0
4690214632287  VRU10044  ...        4409.0
3337875670630  MB167100  ...        1022.0
3337871322502  M2913005  ...        2312.0
3337875483940  M9067101  ...        1903.0
3337875498234  M9101520  ...        2636.0
3337875663076  MB158501  ...        3582.0
3337871323332  M3504205  ...        2547.0
3337871331887  M9720202  ...        1492.0
4690214475969  VRU08950  ...         354.0
3337875660617  MB156801  ...        3052.0

[14 rows x 6 columns]

In [ ]:
s_year = df_rename['sales_rub_year'].value_counts(bins=10)
s_year

(-9105.834, 991484.3]     191
(991484.3, 1982167.6]      43
(1982167.6, 2972850.9]     18
(2972850.9, 3963534.2]     10
(3963534.2, 4954217.5]      3
(8916950.7, 9907634.0]      2
(6935584.1, 7926267.4]      1
(5944900.8, 6935584.1]      1
(4954217.5, 5944900.8]      1
(7926267.4, 8916950.7]      0
Name: sales_rub_year, dtype: int64

In [ ]:
filter_large_year = df_rename['sales_rub_year'] > 3963534.2

In [ ]:
df_rename.loc[filter_large_year]

                    SKU  ... sales_am_year
EAN                      ...
3337875607254  MB119200  ...        4347.0
3337875522786  M9120501  ...        3202.0
3337875586283  MB058200  ...        3574.0
3337875543248  M9154821  ...        6699.0
3337871322502  M2913005  ...        2312.0
3337875483940  M9067101  ...        1903.0
3337875498234  M9101520  ...        2636.0
3337871323332  M3504205  ...        2547.0

[8 rows x 6 columns]

In [ ]:
df_rename.query("sales_rub > 2332427.8 and sales_rub_year > 3963534.2")

                    SKU  ... sales_am_year
EAN                      ...
3337875607254  MB119200  ...        4347.0
3337875522786  M9120501  ...        3202.0
3337875586283  MB058200  ...        3574.0
3337875543248  M9154821  ...        6699.0
3337871322502  M2913005  ...        2312.0
3337875483940  M9067101  ...        1903.0
3337875498234  M9101520  ...        2636.0

[7 rows x 6 columns]

In [ ]:
df_rename['sales_rub'].sum()

134422259.0

In [ ]:
df_rename['sales_rub_year'].sum()

251301755.0

In [ ]:
df_rename.isnull()

                 SKU   name  sales_rub  sales_am  sales_rub_year  sales_am_year
EAN
3337875607254  False  False      False     False           False          False
3337875522786  False  False      False     False           False          False
3337875586283  False  False      False     False           False          False
3337875543248  False  False      False     False           False          False
4690214632287  False  False      False     False           False          False
...              ...    ...        ...       ...             ...            ...
4690214585477  False  False       True      True           False          False
4690214585491  False  False       True      True           False          False
4690214585507  False  False       True      True           False          False
4690214586702  False  False       True      True           False          False
4690214586719  False  False       True      True           False          False

[271 rows x 6 columns]

In [ ]:
df_rename.isnull().sum()

SKU                0
name               0
sales_rub         46
sales_am          46
sales_rub_year     1
sales_am_year      1
dtype: int64

In [ ]:
df_rename.dropna()

                    SKU  ... sales_am_year
EAN                      ...
3337875607254  MB119200  ...       4,347.0
3337875522786  M9120501  ...       3,202.0
3337875586283  MB058200  ...       3,574.0
3337875543248  M9154821  ...       6,699.0
4690214632287  VRU10044  ...       4,409.0
...                 ...  ...           ...
4690214737203  VRU10602  ...          29.0
3337875585200  MB054200  ...         172.0
4690214585514  VRU09620  ...         907.0
4690214480215  VRU09006  ...         229.0
4690214472517  VRU08826  ...         255.0

[225 rows x 6 columns]

In [ ]:
df_rename['price'] = df_rename['sales_rub'] / df_rename['sales_am']
df_rename

                    SKU  ...   price
EAN                      ...
3337875607254  MB119200  ... 2,279.3
3337875522786  M9120501  ... 3,259.4
3337875586283  MB058200  ... 1,838.4
3337875543248  M9154821  ... 1,111.3
4690214632287  VRU10044  ...   665.2
...                 ...  ...     ...
4690214585477  VRU09615  ...     nan
4690214585491  VRU09617  ...     nan
4690214585507  VRU09618  ...     nan
4690214586702  VRU09628  ...     nan
4690214586719  VRU09629  ...     nan

[271 rows x 7 columns]