<a href="https://colab.research.google.com/github/st064560/my_python/blob/master/Ministers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a href="https://colab.research.google.com/github/dm-fedorov/pandas_basic/blob/master/%D0%A2%D0%B5%D0%BF%D0%BB%D0%B8%D1%86%D0%B0/4.%20%D0%94%D0%B5%D0%BF%D1%83%D1%82%D0%B0%D1%82%D1%8B.ipynb"><img align="left" src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open in Colab" title="Open and Execute in Google Colaboratory" target="_blank"></a>

In [0]:
import pandas as pd

url = "https://raw.githubusercontent.com/dm-fedorov/pandas_basic/master/data/deputat.csv"
df = pd.read_csv(url)
df

          name   lastname     otchestvo  ...       start  end       district
0       Ефимов    Виталий     Борисович  ...  18.09.2016  NaN     Мордовский
1    Максимова    Надежда     Сергеевна  ...  18.09.2016  NaN      Хакасский
2    Мищеряков       Юрий    Николаевич  ...  18.09.2016  NaN   Оренбургский
3       Борцов    Николай      Иванович  ...  18.09.2016  NaN       Липецкий
4       Гончар    Николай    Николаевич  ...  18.09.2016  NaN    Центральный
..         ...        ...           ...  ...         ...  ...            ...
206     Федяев      Павел    Михайлович  ...  18.09.2016  NaN      Заводский
207    Романов     Михаил  Валентинович  ...  18.09.2016  NaN  Юго-Восточный
208     Грибов  Александр     Сергеевич  ...  18.09.2016  NaN    Ярославский
209  Прокопьев  Александр     Сергеевич  ...  18.09.2016  NaN        Бийский
210    Шипулин      Антон  Владимирович  ...  08.09.2019  NaN      Серовский

[211 rows x 8 columns]

### Задания

Определите средний возраст депутата?

In [0]:
df = df.rename(columns = {'birdhdate': 'birthdate'})
df

          name   lastname     otchestvo  ...       start  end       district
0       Ефимов    Виталий     Борисович  ...  18.09.2016  NaN     Мордовский
1    Максимова    Надежда     Сергеевна  ...  18.09.2016  NaN      Хакасский
2    Мищеряков       Юрий    Николаевич  ...  18.09.2016  NaN   Оренбургский
3       Борцов    Николай      Иванович  ...  18.09.2016  NaN       Липецкий
4       Гончар    Николай    Николаевич  ...  18.09.2016  NaN    Центральный
..         ...        ...           ...  ...         ...  ...            ...
206     Федяев      Павел    Михайлович  ...  18.09.2016  NaN      Заводский
207    Романов     Михаил  Валентинович  ...  18.09.2016  NaN  Юго-Восточный
208     Грибов  Александр     Сергеевич  ...  18.09.2016  NaN    Ярославский
209  Прокопьев  Александр     Сергеевич  ...  18.09.2016  NaN        Бийский
210    Шипулин      Антон  Владимирович  ...  08.09.2019  NaN      Серовский

[211 rows x 8 columns]

In [0]:
import pandas as pd
df['birthdate'] = pd.to_datetime(df['birthdate'])
df['birthdate']

0     1940-04-04
1     1942-01-13
2     1945-01-01
3     1945-08-09
4     1946-10-18
         ...
206   1982-07-31
207   1984-03-11
208   1986-05-22
209   1986-05-08
210   1987-08-21
Name: birthdate, Length: 211, dtype: datetime64[ns]

In [0]:
df['age'] = 2020 - df.birthdate.dt.year
round(df.age.mean(), 1)

56.3

Определите гендерное процентное соотношение состава депутатов

In [0]:
print(round(df[(df.gender == 'м')].gender.count()/df.gender.count(),3)*100,'%',
round(df[(df.gender == 'ж')].gender.count()/df.gender.count(),3)*100,'%')

84.8 % 15.2 %